<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Great Wiki</title>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>